apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    name: frontend-deployment
    flag: frontend-application
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      nodeName: "tie-a40-4"
      containers:
      - name: frontend-container
        image: mohanabathula/frontend_service:v1  # Replace with actual image
        ports:
        - containerPort: 5000  # Frontend listens on port 5005 internally
        imagePullPolicy: Always  
